/* 2013-2019 NewCool share last 2019-09-06 */

body{background-color: #F1F1F1;}
hr{margin:0.5rem 0;}
.container{background-color:#ffffff;padding:0 20px 20px 20px;max-width: 640px;}
.list_title{padding:15px 0; font-weight: bolder; font-size: 20px}
.list_face{width: 45px; height: 38px;}
.list_face img{width:38px; height:38px;border-radius:19px;}
.list_name{height: 38px;line-height:38px; font-size: 15px; color: #666666;text-overflow:ellipsis; white-space:nowrap;overflow: hidden;}
.list_date{padding-left: 0; font-size: 12px;line-height:38px; color: #999999;}

.info_img_list{margin: 15px 0 5px 0;}
.info_img_list img {margin-bottom: 10px;}

.info_info{padding: 4px 15px}
.info_l{display: inline-flex;color: #999999;}
.info_r{color: #333333;}
.info_list_t{ font-weight: bolder; font-size: 18px;font-weight: bolder;padding:15px 0 10px 0; color: #333333;}
.info_img_three{padding-bottom: 33%; background-color: #f5f5f5; border: 2px solid #FFFFFF; background-position: center; background-repeat: no-repeat; background-size: contain; background-position: center; background-repeat: no-repeat; background-size: contain;}
.info_li_title{font-size: 16px; color: #333333; line-height: 1.8;}
.info_li_text{color: #666666;font-size: 14px;line-height: 1.8;text-align: justify;}



.list_info{font-size: 16px; color: #666666; line-height: 1.80; margin: 15px 0;text-align: justify;}
.list_t{ font-weight: bolder; font-size: 18px;font-weight: bolder;margin-bottom: 20px}
.list_t font{font-size: 14px; color: #999999; font-weight: normal;margin-left: 5px;}
.list_box{margin-bottom: 15px; background-color: #F5F5F5; height: 100px;}
.list_box img{width:100px; height:100px;}


.list_pic_name{height:100px;  padding: 0 13px; margin-left: 100px;}
.list_pic_name_t{font-size: 16px; line-height:24px;font-weight: bolder; color:#666; max-height: 70px; overflow: hidden;}
.nc_tip{color: #999999; text-align: center;font-size: 12px;padding: 15px;}
.nc_nav_bar{box-shadow: 0 -0.5rem 0.5rem rgba(0,0,0,.15)!important;  height: 70px; background: none; padding:0;}
.nav_back{ width: 100%; height: 70px;background-color: #000000; opacity:0.8; }
.nav_info{ margin:auto 20px; height: 70px;}


.nav_logo{ width:45px;}
.nav_logo img{width:45px; height:45px;border-radius:9px;border: 1px #2E2E2E solid;}
.nav_logo_name{font-size: 14px; font-weight: bolder; color:#E6E6E6;line-height: 1.3;}
.nav_info .col {line-height:1.0;}
.nav_logo_title{color: #999999; font-size:11px;}
.nav_btn{background-color: #499891; color:#fff; font-size:14px;}
